#chatbox{
    background-color: #dbdbdb;
    height: 100vh;
    overflow: hidden;
}
#messagesContainer{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
}
#input{
    position: absolute;
    bottom: 5px;
}
#backArrow {
    text-align: left;
    margin-top: 10px;
    cursor: pointer;
}