#login-container {
    display: flex;
    flex: 1;
    justify-content: center;
    -ms-transform: translateY(16vh);
    transform: translateY(16vh);
}

#inner-login-container {
    background-color: #abc2e8;
    border-radius: 5px;
    border: 1px solid #273a4d;
    width: 23.75rem;
}

#loginTitle {
    color: #273a4d;
    font-size: 2.2em;
}

.inputs {
    width: 17.5rem;
    height: 2.2rem;
    font-size: 1rem;
    margin: 1.2rem;
}

.link{
    color: black
}

#loginButton {
    background-color: #273a4d;
    color: white;
    margin-top: 2.2rem;
}

#login-register {
    margin-bottom: 2.7rem;
}

#login-register-link {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    #inner-login-container {
        width: 90vw;
    }
    .inputs{
        width: 80%;
    }
}