#video-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#self-video{
    position: absolute;
    width: 15vw;
    height: 15vh;
    bottom: 3vh;
    right: 3vh;
}
#controls-box{
    position: absolute;
    top: 80%;
}